[user]
        name = janerist
        email = janerist@fastmail.com
[merge]
        tool = DiffMerge
[diff]
        guitool = diffmerge
[core]
        editor = \"C:/Program Files (x86)/GitExtensions/GitExtensions.exe\" fileeditor
        sshCommand = 'C:\\Windows\\System32\\OpenSSH\\ssh.exe'
[difftool "diffmerge"]
        path = C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe
        cmd = \"C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe\" \"$LOCAL\" \"$REMOTE\"
[mergetool "DiffMerge"]
        path = C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe
        cmd = \"C:/Program Files/SourceGear/Common/DiffMerge/sgdm.exe\" -merge -result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
[alias]
        l = log
        s = status
        b = branch
        ec = config --global -e
        co = checkout
        cob = checkout -b
        up = !git pull --rebase --prune $@ && git submodule update --init --recursive
        save = !git add -A && git commit -m 'SAVEPOINT'
        undo = reset HEAD~1 --mixed
        cp = cherry-pick
